/run
/run_old
/run-bnpl
/tools/bnpl
/tools/instr_count_bb
/tools/instr_count_cuda_graph
/tools/mem_printf
/tools/mem_trace
/tools/mov_replace
/tools/opcode_hist
/tools/record_reg_vals
compress
*.o
*.so